/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*utilities*/
/*colors*/
/*typography*/
/*map*/
/*general*/
body {
  font-family: "Open Sans", sans-serif;
  background: #E8F3D6; }

header {
  width: 100%;
  height: 50px;
  background-color: black;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.contenedor {
  height: auto;
  width: 98%;
  margin: auto; }

header .contenedor {
  display: table; }

h1 {
  float: left; }

header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer; }

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  height: auto;
  width: 100%;
  height: 100vh;
  background: rgba(51, 51, 51, 0.9);
  transform: all 0.5s;
  transform: translateX(-100%); }
  .menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(196, 110, 110, 0.5); }
  .menu :hover {
    background: rgba(255, 255, 255, 0.3); }

#menu-bar:checked ~ .menu {
  transform: translateX(0%); }

@media (min-width: 1024px) {
  .menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex; }
  .menu a {
    border: none; }
  header label {
    display: none; }
  #menu-bar {
    display: none; } }

section {
  height: auto;
  width: 100%;
  margin-bottom: 25px; }

#barner {
  margin-top: 50px;
  position: relative;
  background-size: cover;
  background-position: center; }
  #barner img {
    height: auto;
    width: 100%;
    height: 100%; }
  #barner .contenedor {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    text-align: center;
    justify-content: center;
    font-family: "Permanent Marker", cursive; }
  #barner .barner-title {
    font-size: 35px;
    font-family: "Permanent Marker", cursive; }

@media (min-width: 480px) {
  #barner {
    font-size: 50px; } }

@media (min-width: 768px) {
  #barner {
    height: 380px;
    overflow: hidden; }
  #barner img {
    height: 500px;
    margin-top: -100px; } }

@media (min-width: 1024px) {
  #barner img {
    margin-top: -200px; }
  #barner .barner-title {
    font-size: 60px; } }

#Bienvenidos {
  text-align: center; }
  #Bienvenidos h2 {
    font-size: 15px; }

@media (min-width: 768px) {
  #Bienvenidos h2 {
    font-size: 25px; } }

@media (min-width: 1024px) {
  #Bienvenidos h2 {
    font-size: 35px; } }

footer {
  margin-top: 20px; }

footer .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 0 2px black;
  width: 100%;
  padding: 15px; }

.copy {
  font-size: 20px; }

.sociales {
  width: 100%;
  text-align: center;
  font-size: 28px; }
  .sociales a {
    color: black;
    text-decoration: none; }

@media (min-whith: 768px) {
  .sociales {
    width: auto; }
  footer .contenedor {
    justify-content: space-between; } }

@media (min-whith: 1024px) {
  .contenedor {
    width: auto; } }

.texto-new {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.container-new {
  padding: 60px 30px;
  text-align: center;
  text-align: center; }

.container-new .texto-new {
  max-width: 600px;
  margin: 20px auto;
  font-size: 35px;
  font-weight: 300; }

.email-box {
  height: 40px;
  display: flex;
  justify-content: center; }

.email-box i {
  width: 40px;
  line-height: 40px; }

/*layout*/
.slider {
  height: auto;
  width: 100%;
  margin: auto;
  height: 300px;
  overflow: hidden; }
  .slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 16s infinite alternate; }
  .slider li {
    width: 100%;
    list-style: none; }
  .slider img {
    height: auto;
    width: 100%; }

@keyframes cambio {
  0% {
    margin-left: 0%; }
  20% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  95% {
    margin-left: -300%; } }

@media (min-whith: 1020) {
  .slider {
    height: 500px; } }

.reg-title {
  font-size: 20px; }

.form {
  padding: 80px;
  background-image: url(../../css/img/backraung.jpg);
  background-size: cover;
  background-position: center;
  object-fit: cover; }

.form-registre {
  height: auto;
  width: 95%;
  max-width: 500px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px; }

.form__titulo {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom: 5px solid #d33694; }

.contenedor-inputs {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

input {
  margin-bottom: 15px;
  padding: 15px; }

.input-48 {
  height: auto;
  width: 48%; }

.input-100 {
  height: auto;
  width: 100%; }

.btn-enviar:active {
  transform: scale(1.05); }

.form__link {
  height: auto;
  width: 100%;
  margin: 7px;
  text-align: center;
  font-size: 14px;
  color: #fff; }

.form__link a {
  color: #fff; }

h2 {
  text-align: center; }

.container-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px; }

.container-img .box-img figure {
  width: 100%;
  height: 100%; }

.container-img .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: all 0.1s ease-in;
  background: #ccc; }

.container-img .box-img img:hover {
  transform: scale(0.99);
  opacity: 1; }

.container-img .box-img:nth-child(1) {
  grid-column-start: span 2; }

.container-img .box-img:nth-child(4) {
  grid-row-start: span 2; }

@media (max-width: 800px) {
  .container-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px; }
  .container-img .box-img:nth-child(1) {
    grid-column-start: span 1; } }

@media (max-width: 500px) {
  .container-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr); }
  .container-img .box-img img {
    height: 200px; } }

.card {
  padding: 20px; }

h5 {
  text-align: center;
  font-size: 20px; }

h5 a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 400ms ease; }

h5 a:hover {
  background: #d33694;
  color: #fff; }

#blog-productos h3,
h4 {
  text-align: center;
  padding: 10px; }

#productos h2 {
  text-align: center; }

#blog-productos .contenedor-productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

article {
  border: 1px black solid;
  padding: 10px;
  background-image: url(../../css/img/backraund-productos.jpg); }

#blog-productos article {
  margin: 20px; }

#blog-productos img {
  height: auto;
  width: 100%;
  max-width: 280px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  cursor: default;
  transition: all 400ms ease; }

#blog-productos img:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%); }

#blog-productos a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 400ms ease; }

#blog-productos a:hover {
  background: #2fb4cc;
  color: #fff; }

@media (min-width: 1024px) {
  #blog-productos h3,
  h4 {
    font-size: 20px; } }

/*pages*/
#blog h3,
h4 {
  text-align: center;
  font-size: 25px; }

#blog .contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

#blog article {
  margin: 20px; }

#blog img {
  height: auto;
  width: 100%;
  max-width: 320px;
  padding: 10px; }

@media (min-width: 768px) {
  #blog h3,
  h4 {
    font-size: 25px; }
  #blog img {
    max-width: 380px; } }

@media (min-width: 1024px) {
  #blog h3,
  h4 {
    font-size: 30px; }
  #blog img {
    max-width: 350px; } }

#info {
  background: #B6E388;
  color: black;
  text-align: center;
  padding: 20px; }

#info .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.info-pet {
  margin: 40px; }

.info-pet img {
  height: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 7px solid #d33694; }

@media (min-width: 480px) {
  .info-pet {
    width: 40%; } }

@media (min-width: 1024px) {
  .info-pet {
    width: auto; } }

/*components*/
.btn-enviar {
  background: #e65bae;
  color: #fff;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer; }

/*--------galeria--------*/
/*--------gifts--------*/
/*--------productos--------*/
