/*colors*/
$crema:#E8F3D6;
$negro:rgb(0, 0, 0);
$gris: #ccc;
$gris-oscuro:rgba(51, 51, 51, 0.9);
$blanco:#fff;
$rosa-viejo:rgba(196, 110, 110, 0.5);
$blanco-transparente:rgba(255, 255, 255, 0.3);
$gris-oscuro-transparente:rgba(32, 30, 30, 0.418); 
$fuscia:#d33694;
$transparente-claro:rgba(0, 0, 0, 0.3);
$transparente-oscuro:rgba(0, 0, 0, 0.4);
$aquamarine: #2fb4cc;
$verde-manzana:#B6E388;

/*typography*/
$font-principal:'Open Sans', sans-serif;
$font-barner:  'Permanent Marker', cursive;

/*map*/
$colores-extras:(
    fuscia:#e65bae,
    blanco:#fff
);

